/* GRID & MAIN ELEMENTS */

body {
  margin-top: 40px;
  margin-bottom: 50px;
  margin-left: 45px;
  margin-right: 45px;
  background-color: #f7f8ff;
  padding: 0px;
  display: grid;
  grid-template-columns: 240px auto;
  row-gap: 4px;
}

.logo {
  grid-column: 1;
}

.menu {
  grid-column: 1;
  position: fixed;
  top: 120px;
  line-height: 24px;
}
.footer {
  grid-column: 1;
}
main {
  grid-column: 2;
  padding-right: 8%; /* Keep */
}

/* CONTRIBUTEURS */
.contributeurs-container {
  margin-bottom: 60px;
}

.contributeurs {
  text-align: right;
  color: #6b6a9a;
  padding-right: 20%;
  margin-top: 180px;
  margin-bottom: 100px;
}

.contrib_contact {
  font-size: 15px;
  text-decoration: none;
  color: #ff5733;
}

.contrib_contact:hover {
  font-size: 15px;
  text-decoration: none;
  color: #d85033;
}

.contrib {
  margin-top: 20px;
}

/* SIDEBAR */
.menu a {
  display: block;
}

/* FOOTER */
.footer a {
  display: block;
}

.footer img {
  margin-top: 20px;
}

/* ARTICLE */
.title {
  font-family: "zapfino";
  font-weight: normal;
  font-size: 30px;
  text-align: left;
  color: #ff5733;
  margin-bottom: 0;
  padding-top: clamp(40px, 12%, 160px);
  padding-bottom: 0px;
  line-height: 180%;
}

.subtitle {
  margin-bottom: 40px;
  padding-left: 28px;
}

.article {
  padding-left: 28px;
  margin-bottom: 100px;
  padding-right: 10%; /* Keep */
}

.article-date {
  font-size: 13px;
}

.info {
  text-align: left;
  font-size: 15px;
  padding-left: 28px;
  padding-bottom: 20px;
  color: #ff5733;
  padding-right: 10%; /* Keep */
}
