
.logo {
  position: fixed;
  width: 205px;
}

.logo img {
  display: grid;
  width: 100%;
}

.language {
  text-align: right;
  margin-top: 0%;
  line-height: 150%;
}

.darkhover,
.darkhover a {
  text-decoration: none;
  color: #6b6a9a;
}

.darkhover a:hover,
.darkhover :hover {
  text-decoration: none;
  color: #3f3e61;
}

.lighthover {
  text-decoration: none;
  color: #3f3e61;
}

.lighthover:hover {
  text-decoration: none;
  color: #6b6a9a;
}

.footer {
  position: fixed;
  bottom: 20px;
  line-height: 24px;
}

.footer img {
  width: 26px;
}

.shithappens {
  position: fixed;
  right: 60px;
  bottom: 35px;
  width: 20px;
}

.shithappens img {
  width: 100%;
}

.content {
  text-align: center;
  padding-top: 50px; /* Keep */
  /* padding-right: 30px; */
  /* padding-left: 240px; */
}

.content img {
  width: 93%;
}

.subtitle {
  color: #3f3e61;
  /* padding-left: 280px; */
  padding-top: 0px;
}

.article {
  text-align: left;
  color: #6b6a9a;
}

.apropos {
  text-align: left;
  color: #6b6a9a;
  margin-top: 230px;
  padding-left: 40px;
}

.infohover {
  text-decoration: none;
  color: #ff5733;
}

.infohover:hover {
  text-decoration: none;
  color: #d85033;
}

.infomenu {
  text-decoration: none;
  color: #ff5733;
}

.credits {
  text-align: center;
  color: #6b6a9a;
  padding-right: 0px;
}

.construction {
  grid-column: 2;
  margin-top: 120px;
  margin-left: 80px;
}

.construction img {
  width: 40%;

}

.constructiontexte {
  color: #6b6a9a;
  margin-left: 80px;
}
