body {
    margin-top: 40px;
    margin-bottom: 50px;
    margin-left: 45px;
    margin-right: 45px;
    background-color: #F7F8FF;
    padding: 0px;
    
}



.logo {
    position: fixed;
    width: 205px;
}

.logo img{
    width: 100%;
}




.menu{
    position: fixed;
    margin-top: 6.5%;
    line-height: 150%;
}


.language{

    text-align: right;
    margin-top: 0%;
    line-height: 150%;
}




.darkhover {
      text-decoration: none;
          color: #6B6A9A;
}


.darkhover:hover {
  text-decoration: none;
  color: #3F3E61;
}

.lighthover {
      text-decoration: none;
          color: #3F3E61;
}

.lighthover:hover {
  text-decoration: none;
  color: #6B6A9A;
}


.footer {
    position: fixed;
    bottom: 3%;
        width: 2%;
        line-height: 130%;
}

.footer img{
    width: 100%;
}


.shithappens{
    position: fixed;
    right:60px;
    bottom: 35px;
    width: 20px;

    
}


.shithappens img{
    width: 100%;

}





.content{
      text-align: center;
 padding-top: 50px;
  padding-right: 30px;
  padding-left: 240px;
    }
    
.content img{
    width : 93%; 
}




.title{
  font-family: "zapfino";
  font-size: 30px;
  text-align: left;
  color: #FF5733;
  padding-right: 103px;
  padding-left: 260px;
  padding-top: 160px;
  padding-bottom: 0px;
  line-height: 180%;
    }

.subtitle{
     color: #3F3E61; 
      padding-left: 280px;
      padding-top: 0px;
    } 

.article{
text-align: left;
  color: #6B6A9A;
  padding-right: 200px;
  padding-left: 280px;
  padding-top: 0px;
  padding-bottom: 00px;
    }

.apropos{
text-align: left;
  color: #6B6A9A;
  padding-right: 300px;
  padding-left: 280px;
  padding-top: 230px;
  padding-bottom: 00px;
    }

.apropos2{
padding-top: 60px;
font-size: 13px;
    }





.info {
text-align: left;
    font-size: 15px;
  padding-right: 200px;
  padding-left: 283px;
  padding-top: 100px;
  padding-bottom: 20px;
      color: #FF5733;

}

.infohover {

      text-decoration: none;
          color: #FF5733;
}

.infohover:hover {

  text-decoration: none;
  color: #D85033;
}

.infomenu{

      text-decoration: none;
          color: #FF5733;
}




.contributeurs{
text-align: right;
  color: #6B6A9A;
  padding-right: 200px;
  padding-left: 360px;
  padding-top: 180px;
  padding-bottom: 100px;
    }


.contrib_contact {
        font-size: 15px;
      text-decoration: none;
          color: #FF5733;
}


.contrib_contact:hover {
        font-size: 15px;
  text-decoration: none;
  color: #D85033;
}



.credits{
text-align: center;
  color: #6B6A9A;
  padding-right: 0px;
  padding-left: 0px;

    }








.construction{
      text-align: center;
 padding-top: 140px;
  padding-right: 30px;
  padding-left: 100px;
    }
    
.construction img{
    width : 40%; 
}

.constructiontexte{
text-align: left;
  color: #6B6A9A;
  padding-right: 0px;
  padding-left: 595px;
  padding-top: 10px;
  padding-bottom: 00px;
    }



