@font-face {
  font-family: 'zapfino';
  src: url('/assets/fonts/ZapfinoExtraLTPro.eot');
  src: url('/assets/fonts/ZapfinoExtraLTPro.otf') format('truetype'),
    url('/assets/fonts/ZapfinoExtraLTPro.woff') format('woff'),
    url('quadranta.eot?#iefix') format('embedded-opentype');
  font-style: normal;
}

/* GRID & MAIN ELEMENTS */
html {
  padding-top: 8%;
  padding-bottom: 8%;
  padding-left: 3%;
  padding-right: 3%;
}

body {
  background-color: #f7f8ff;
  display: grid;
  grid-template-columns: 240px auto;
  row-gap: 4px;
}

.logo {
  grid-column: 1;
  position: fixed;
  width: 205px;
  top: 8%;
}

.logo img {
  width: 100%;
}

.menu {
  grid-column: 1;
  position: fixed;
  top: 22%;
  line-height: 24px;
}

main {
  grid-column: 2;
  padding-right: 8%;
  padding-left: 28px;
}

/* CONTRIBUTEURS */
.contributeurs-container {
  margin-bottom: 60px;
}

.contributeurs {
  text-align: right;
  color: #6b6a9a;
  padding-right: 20%;
  margin-top: 180px;
  margin-bottom: 100px;
}

.contrib_contact {
  font-size: 15px;
  text-decoration: none;
  color: #ff5733;
}

.contrib_contact:hover {
  font-size: 15px;
  text-decoration: none;
  color: #d85033;
}

.contrib {
  margin-top: 20px;
}

/* SIDEBAR */
.menu a {
  display: block;
}

/* FOOTER */
.footer {
  grid-column: 1;
  position: fixed;
  bottom: 20px;
  line-height: 24px;
}

.footer a {
  display: block;
}

.footer img {
  width: 26px;
  margin-top: 20px;
}

.shithappens {
  position: fixed;
  right: 60px;
  bottom: 35px;
  width: 20px;
}

.shithappens img {
  width: 100%;
}

/* ARTICLE */
.title {
  font-family: "zapfino";
  font-weight: normal;
  font-size: 80px;
  text-align: left;
  color: #ff5733;
  margin-bottom: 0;
  padding-top: clamp(40px, 12%, 160px);
  padding-bottom: 0px;
  line-height: 60%;
  position: relative;
  left: -28px;
}

.subtitle {
  color: #3f3e61;
  margin-bottom: 40px;
  padding-top: 0px;
}

.article {
  text-align: left;
  color: #6b6a9a;
  padding-right: 10%;
}

.article-date {
  font-size: 13px;
}

.content-main {
  text-align: center;
}

.content-main img {
  width: 100%;
}

.content-small {
  text-align: left;
  margin-top: 80px;
}

.content-small img {
  width: 50%;
  min-width: 300px;
}

.info {
  text-align: left;
  font-size: 15px;
  padding-bottom: 20px;
  color: #ff5733;
  padding-right: 10%;
  margin-top: 100px;
}

.apropos {
  text-align: left;
  color: #6b6a9a;
  margin-top: 230px;
  padding-left: 40px;
}

/* CREDITS */
.credits {
  text-align: center;
  color: #6b6a9a;
  padding-right: 0px;
}

/* CONSTRUCTION */
.construction {
  grid-column: 2;
  margin-top: 120px;
  margin-left: 80px;
}

.construction img {
  width: 40%;
}

.constructiontexte {
  color: #6b6a9a;
  margin-left: 80px;
}

/* GENERAL */
.language {
  text-align: right;
  margin-top: 0%;
  line-height: 150%;
}

.darkhover,
.darkhover a {
  text-decoration: none;
  color: #6b6a9a;
}

.darkhover a:hover,
.darkhover :hover {
  text-decoration: none;
  color: #3f3e61;
}

.lighthover {
  text-decoration: none;
  color: #3f3e61;
}

.lighthover:hover {
  text-decoration: none;
  color: #6b6a9a;
}

.infohover {
  text-decoration: none;
  color: #ff5733;
}

.infohover:hover {
  text-decoration: none;
  color: #d85033;
}
